
<center>
    <div class="login" >
        <div class="heading">
          <h2>Forgot Password</h2>
          <p id="forgot_username"></p>
          <form action="/forgotPassword" method="POST">
      
            <div class="input-group input-group-lg">
              <span class="input-group-addon"></span>
              <input type="text" class="form-control" placeholder="Username" name = "username">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" placeholder="Password" name = "password">
                      </div>
      
              <button type="submit" class="float">Submit</button>
    
             </form>
             
               </div>
       </div>
    </center>