
<body>
<script >
function myFunction() {
    var x = document.getElementById("viewPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<center>
    <div class="login" >
        <div class="heading">
          <h2>Forgot Password</h2>
          <p id="forgot_username"></p>
          <form action="/forgotPassword" method="POST">
      
            <div class="input-group input-group-lg">
              <span class="input-group-addon"></span>
              <input type="text" class="form-control" placeholder="Username" name = "username">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"></span>
                    <input type="password" class="form-control" placeholder="Enter new password" name = "password" id ="viewPassword">
                    
                      </div>
      <div>
        <input type="checkbox" onclick="myFunction()"> Show password
      </div>
              <button type="submit" class="float">Submit</button>
    
             </form>
             
               </div>
       </div>
    </center>
    </body>