
<script >
  function myFunction() {
      var x = document.getElementById("login_viewPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>

<center>
<div class="login" >
    <div class="heading">
      <h2>Login in</h2>
      <form action="/login" method="POST">
  
        <div class="input-group input-group-lg">
          <span class="input-group-addon"></span>
          <input type="text" class="form-control" placeholder="Username" name = "username">
            </div>
  
          <div class="input-group input-group-lg">
            <span class="input-group-addon"></span>
            <input type="password" class="form-control" placeholder="Password" name = "password" id="login_viewPassword">
          </div>
  
          <div>
            <input type="checkbox" onclick="myFunction()"> Show password
          </div>
          <button type="submit" class="float">Login</button>

          <div>
              
          </div>
         </form>
         <div>
       <a href="/forgotPassword" style="text-decoration:none" >Forgot Password</a>
       <a href="register" style="text-decoration:none" > &ensp; Sign Up</a>
       </div>
           </div>
   </div>
</center>