
<center>
    <div class="login" >
        <div class="heading">
          <h2>New Password</h2>
          <form action="/newPassword" method="GET">
      
            <div class="input-group input-group-lg">
              <span class="input-group-addon"></span>
              <input type="text" class="form-control" placeholder="Password" name = "password">
                </div>
      
      
              <button type="submit" class="float">Set password</button>
    
             </form>
             
               </div>
       </div>
    </center>