
<script >
  function myFunction() {
      var x = document.getElementById("register_viewPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>

<center>
<div class="login">
    <div class="heading">
      <h2>Sign up</h2>
      <form action="/register" method="POST">
  
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" name = 'username'>
            </div>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Email" name="email">
                </div>
  
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" name="password" id="register_viewPassword">
          </div>
          <div>
            <input type="checkbox" onclick="myFunction()"> Show password
          </div>
          <button type="submit" class="float">Login</button>
         </form>
           </div>
   </div>
  </center>